
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{taskId} {
      // Allow read access if the user's email is in the 'memberEmails' array.
      allow read: if request.auth.token.email in resource.data.memberEmails;

      // Allow create access if the user is authenticated and the userId matches.
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;

      // Allow update and delete access only for the owner of the task.
      allow update, delete: if request.auth.uid == resource.data.userId;
    }
  }
}
